body {
  overflow: hidden;
}

#shapes {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mondrian_creator {
  position: absolute;
  top: 585px;
  left: 503px;
  color: red;
}
