.most-popular {
    position: relative;
    top: 8px;
    right: 10px;
}

.black {
    position: relative;
    top: 82px;
}

.offwhite {
    position: relative;
    top: 30.5px;
}

.airjordan {
    position: relative;
    top: 30px;
}

.airjordan-details {
    position: relative;
    top: 27px;
}

.shoesfromgoat-details {
    margin-top: 40px;
}

.shoesfromgoat {
    position: relative;
    top: 30px;
}

.shoesfromgoat- {
    position: relative;
    top: 50px;
}

footer {
    position: relative;
    top: 80px;
}
